<%= link_to 'download menu', get_menu_path%>

<div id = 'blackboard' class = 'border'>
	<div id = 'breakfast'>
		<span class = 'bhead'>breakfast</span>
		<span class = 'bname'>served all day long</span><br />
		<%  @menu.breakfasts.each do |br| %>
 			<p>
				<span class = 'bname'><%= br.name%></span> 
				<%= br.description%>
				<%=deci(br.price)%> 
 			</p>
<%end%>
	</div>
	<div id = 'sides'>
		<span class = 'bhead'>sides</span><br>
			<ul class = 'bside'>
				<% @menu.sides.each do |side| %>
					<li>-&nbsp;<%= side.s_name%></li> 
				<%end%>
			</ul>	
	</div>
	<div class = 'full'>
		<span class = 'bhead'>tortas</span>
		<span class = 'bname'>pressed sandwiches served with a pickle and one side</span>
	</div>
	<%  @menu.dishes.in_groups_of(3, false) do |items| %>
		<div class = 'half'>
 			<% items.each do |dish| %>
 				<p>
					<span class = 'bname'><%= dish.name %></span> 
					<%= dish.description%>
					<%=deci(dish.price)%>
				</p>
			<%end%>
		</div>	
	<%end%>

	<div class = 'full'>
		<span class = 'bhead'>salads and other stuff</span>
	</div>
	<%  @menu.salads.in_groups_of(2, false) do |items| %>
		<div class = 'half'>
 			<% items.each do |salad| %>
 				<p>
					<span class = 'bname'><%= salad.sal_name%></span> 
					<%= salad.sal_description%>
					<%=deci(salad.sal_price,)%> 
				</p>
			<%end%>
		</div>	
	<%end%>
	
</div>

