
<div id = 'background_plain'>
  <%=  form_for @blog , :html => {:multipart => true} do |f| %>
  
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= image_tag(f.object.pic.url) if  f.object.pic? %>
    <%= f.label :pic, "Image" %><br />
    <%= f.file_field :pic %>
  </div><br />
  <div class="field">
    <%= f.label :title, "Blog Title" %><br />
    <%= f.text_field :title %>
  </div><br />
 
  <div class="field">
    <%= f.label :post, "Blog"%><br />
    <%= f.textile_editor :post, :cols => 115 %>
    
  </div><br />
  
   <div class="field">
    <%= f.label :published, "Publish Now?" %>
    <%= f.check_box :published%>
  </div><br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
    <% content_for :javascript do %>
    <%= textile_editor_initialize  %>
    <% end %>
<% end %>
</div> 