<p id="notice"><%= notice %></p>

 
              <div class="well sidebar-nav pull-right">
                <h3>Archive</h3>
                <ul class="nav nav-list">
                 <% @blogs.each do |blog| %>
                 <% if request.path.include?(blog.id.to_s) %>
                  <li class="active">
                  	<%else%>
                  	<li>
                  <%end%>
                  	<%= link_to blog.title, blog_path(blog)  %>
                 </li>
                   <%end%>
                </ul>
              </div><!--/.well -->

 
    <div class="row span9 outlny">
 
	<div class = 'span2'>
		<%= image_tag 'lauren.jpg'%>
		
	</div>
	<div class = "span5">
		<br>
		<br>
		<h1>  &nbsp; &nbsp;  &nbsp;        Lauren Sez:</h1>
		
	</div>
	
		</div>	
	<div class = 'span2'>	
		<%= image_tag @blog.pic.url%>
	</div>	
	<div class = 'span7 '>
	 <span class = 'blog_title'> <%= @blog.title %></span><br>
 
 
  <span class = 'date'>
  <%= @blog.created_at.strftime('%B %d, %Y') %></span><br>
 <div class = 'blog_post'> <%=raw RedCloth.new(@blog.post).to_html %></div><br>
	</div>


