<div id = 'blog_wrap'>
	<div id = 'b_head'>
		<%= image_tag 'lauren.jpg'%>
		<div id = 'tagline'> Citizen Lauren Sez</div>
	</div>
  
	<hr>  
	<div id = 'blog_body'>
		  
   		<%= image_tag @blog.pic.url%>
   		<div class = 'blog_title'> 
   			<%= @blog.title %>
   		</div> 
   		<div class = 'date'>
  			<%= @blog.published_on.strftime('%B %d, %Y')  %>
  		</div> 
  		<div class = 'blog_post'> 
  			<%=raw RedCloth.new(@blog.post).to_html %>
  		</div> 
	</div>


</div>
<div id ='blog_side'>
	<h3>Lauren Said</h3>
                <ul class="blog_list">
                 <% @blogs.each do |blog| %>
                 <% unless @blog.created_at == blog.created_at %>
                  <li><%= link_to blog.title, blog_path(blog) %></li>
                  <li class = 'date'><%=  blog.published_on.strftime('%B %d, %Y')  %></li>
                  <%end%>
                   <%end%>
                </ul>
</div>