<div id = 'background_box'  class = 'box'>
 

	<h1 class = 'center'>Boxed Lunch Menu</h1>
	<h2 class = 'center'>Just $10.75 EACH!  Free Delivery!</h2>
	<h3 class = 'center'>All box lunches come complete with entre&#201;, side dish, daily dessert & cutlery</h3>
	<div class ='boxl_desc'>
		<h3 class = "center">
			please order between 7AM - 11AM or 3PM -5PM one day before you'd like your order. <br> 
			Minimum of 7 boxed lunches per order.
			</h3>
	</div>
	<h2>Boxed Lunches</h2>
		<% @boxmenu.dishes.each do |dish| %>
		  <p>
			<%= dish.name%>
			<%= dish.description%>
		   </p>
		<%end%>

<br>	
	<h2>Additional Sides $2.50 </h2>
		<p>		
			<% @boxmenu.sides.each do |side| %>
				<%= side.s_name%> &nbsp; &nbsp;
	 		<%end%>
		</p>
<br> 
		<h2>Drinks $1.50</h2>
		<p>
			<% @boxmenu.drinks.each do |drink| %>
				<%= drink.d_name%>  &nbsp; &nbsp;
			<%end%>
		</p>
<br>
		<div class ='boxl_desc'>
			<div id = 'address_box'>
				citizen<br>
				909 E. Main St.<br>
				Richmond, Va <br>
				(804)780-9038 <br>
				www.citizenrva.com <br>
			</div>	
		
			<div id = 'tags' >
				<div id ='options'>
					<div class = 'btn-group '>
 
							<span class = 'btn btn-mini'><%= link_to 'Order Now', new_order_path%></span> 
							<span class = 'btn btn-mini'><a href="http://goo.gl/maps/faWdS"  :target = "_blank" >Delivery Area</a></span>
							<span class = 'btn btn-mini'><%= link_to 'Download', get_box_menu_path%></span> 
					</div>
				</div>
				<div id = 'blinks'>
 	 			<%= link_to image_tag('fb.png'), "http://www.facebook.com/citizenrva"%>
 	 			<%= link_to image_tag('twit.png'), "http://twitter.com/CitizenRVA"%>
 	 			<%= link_to image_tag('ylp.png'), "http://www.yelp.com/biz/citizen-richmond"%>
 	 			<%= link_to image_tag('insta.png') %>
 	 			<%= link_to image_tag('square.png') %>
 	 		
 	 			</div>
 	 		</div>
 	 	</div>
</div>


