<p id="notice"><%= notice %></p>
<h2> Sandwiches  served on a La Sobrasita Bollio Roll</h2>


<%  @boxmenu.dishes.each do |dish| %>
 
		<%= dish.name%><br>
		<%= dish.description%>
		<%= dish.price%> <br>
 
<%end%>

<br>
<h2> Salads</h2>
<%  @boxmenu.salads.each do |salad| %>
 
		<%= salad.sal_name%><br>
		<%= salad.sal_description%>
		<%= salad.sal_price%> <br>
 
<%end%>
<br>
<h2> Sides</h2>

<%  @boxmenu.sides.each do |side| %>
	<%= side.s_name%> 
	 
	<%= side.s_price%> <br>

<%end%>
<br>
<h2>Drinks</h2>
<%  @boxmenu.drinks.each do |drink| %>
	<%= drink.d_name%> 
	 
	<%= drink.d_price%> <br>

<%end%>



<hr>
<%= link_to 'Edit', edit_boxmenu_path(@boxmenu) %> |
<%= link_to 'Back', boxmenus_path %>
