<h1>Listing drinks</h1>

<table>
  <tr>
    <th>D name</th>
    <th>Useable</th>
    <th>Useable type</th>
    <th>D price</th>
    <th>D count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= drink.d_name %></td>
    <td><%= drink.useable_id %></td>
    <td><%= drink.useable_type %></td>
    <td><%= drink.d_price %></td>
    <td><%= drink.d_count %></td>
    <td><%= link_to 'Show', drink %></td>
    <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
    <td><%= link_to 'Destroy', drink, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drink', new_drink_path %>
