<div class = "menu_line">
	<%= f.input :count, :input_html => { :class => 'four'}, :label =>false  %>
		<p>
			<span class = 'odesc'>
				<%= f.object.name %>
				<%= f.object.description  %>	
			</span>
		</p>	
						
 		<%= f.hidden_field :name, :value =>  f.object.name  %>
  		<%= f.hidden_field :description, :value =>  f.object.description  %>
   		<%= f.hidden_field :price, :value =>  f.object.price  %>
		<%= f.hidden_field :alt_desc, :value =>  f.object.alt_desc  %>
</div>