 
			<div class = 'menu_line'> 
			<%= f.input :sal_count, :input_html => { :class => 'four'}, :label =>false  %>
			
				<%=   f.object.sal_description  %>	
				<%= deci f.object.sal_price  %>					
 				<%= f.hidden_field :sal_name, :value =>  f.object.sal_name  %>
  				<%= f.hidden_field :sal_description, :value =>  f.object.sal_description  %>
   				<%= f.hidden_field :sal_price, :value =>  f.object.sal_price  %>
			 
 			</div>

 