
	<div>
		<%= @order.address.contact_name%><br>
		<%= @order.address.styled_address%><br>
		
		<%= number_to_phone(@order.address.phone, :groupings => [3, 3, 4], :delimiter => "-") %><br> 
		<%= @order.user.email%><br><br>

	<% if @order.delivery? %>
 		Delivery: 
 	<% else %>
 		Pick Up:
 	<% end %>
 	
  		<%= @order.delivery_time.strftime('%I:%M %p %B %d, %Y')   %>
  		
  	</div>
  	<% if @order.delivery? && !@order.delivery_instruct.blank?%>
  		Delivery Instructions:  <%= @order.delivery_instruct %>
 	<% end %>
<br><br>
	<% @order.dishes.each do |d|%>
		<% if !d.count.nil? %>
			<%= order_receipt(d.count, d.name, d.description, d.price)%>
		<% end %>
	<% end %>
	<% @order.salads.each do |sal|%>
		<% if !sal.sal_count.nil? %>
		<%= order_receipt(sal.sal_count, sal.sal_name, sal.sal_description, sal.sal_price)%>
		<% end %>
	<% end %>
 
	<% @order.sides.each do |side|%>
		<% if !side.s_count.nil? %>
		<%= order_receipt(side.s_count, side.s_name, nil, side.s_price)%> 
		<% end %>
	<% end %>
 
	<% @order.drinks.each do |dr|%>
		<% if !dr.d_count.nil? %>
		<%= order_receipt(dr.d_count, dr.d_name, nil, dr.d_price)%>
		<% end %>
 	<% end %>
<br> 
	<div>Subtotal: <span class = 'pull-right_r'><%= deci_plain @order.sub_ttl%></span></div>
	<div>Tax: <span class = 'pull-right_r'><%= deci_plain @order.tax%></span></div>
	<div>Total: <span class = 'pull-right_r'><%= deci_plain @order.ttl_price%></span></div>



<br>