

<div id = 'background_plain' class = 'bold'> 

		<% @orders.each do |order| %>
			Order # : <%= order.id %><br>
			<%  if order.confirmed? %>
				Confirmed<br>
			<%else%>
				Not Confirmed<br>
			<%end%>
			<% if order.delivery? %>
 				Delivery: 
 			<% else %>
 				Pick Up:
 			<% end %>
 			<%= order.delivery_time.strftime('%I:%M %p %B %d, %Y')  unless order.delivery_time.nil? %><br>
			<%= order.address.contact_name %><br>
			<%= number_to_phone(order.address.phone, :groupings => [3, 3, 4], :delimiter => "-") %><br>
			<%= order.user.email %><br>

 			<% order.dishes.each do |d|%>
				<% if !d.count.nil? %>
					<%= order_list(d.count, d.alt_desc)%>
			<% end %>
		<% end %>
	
  
		<% order.sides.each do |side|%>
			<% if !side.s_count.nil? %>
			<%= order_list(side.s_count, side.s_name)%> 
			<% end %>
		<% end %>
 
		<% order.drinks.each do |dr|%>
			<% if !dr.d_count.nil? %>
				<%= order_list(dr.d_count, dr.d_name)%>
			<% end %>
 		<% end %>

<div class = ' topmarg btn-group'>
	<%= link_to 'Order Sheets', order_sheet_path(:id => order.id) , :class => 'btn btn-mini'%>
    <%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini' %>	
</div>
<hr>	
<br>

<% end %>

</div>