
<div class = 'white_back'>
	
	<h2 class = 'center'>Shop Copy</h2><br><br>
 
	
			Order # : <%= @order.id %><br>
			<% if @order.confirmed? %>
				Confirmed<br>
			<%else%>
				Not Confirmed<br>
			<%end%>
		
			<% if @order.delivery? %>
		 		Delivery: 
		 	<% else %>
		 		Pick Up:
			<% end %>
		 	
			<%= @order.delivery_time.strftime('%I:%M %p %B %d, %Y') unless @order.delivery_time.nil? %>
		
			<br>
			Delivery Contact:<%= @order.address.contact_name %><br>
			Delivery Address:<%= @order.address.street%><br>
			Phone:<%= number_to_phone(@order.address.phone, :groupings => [3, 3, 4], :delimiter => "-") %><br> 
			Email:<%= @order.user.email%><br><br>
			Order Summery: <br>
		 	<% @order.dishes.each do |d|%>
				<% if !d.count.nil? %>
					<%= order_list(d.count, d.alt_desc)%>
				<% end %>
			<% end %>
			
	 
			<% @order.sides.each do |side|%>
				<% if !side.s_count.nil? %>
					<%= order_list(side.s_count, side.s_name)%> 
				<% end %>
			<% end %>
		 
			<% @order.drinks.each do |dr|%>
				<% if !dr.d_count.nil? %>
					<%= order_list(dr.d_count, dr.d_name)%>
				<% end %>
		 	<% end %>

 
 
			<table id = 'orders'>
				<tr>
					<td>
						CC Info:
					</td>
				</tr>
				<tr>
					<td>
						Name on CC:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr>
					<td>
						CC Type:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr>
					<td>
						 CC #:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr>
					<td>
						Expiration Date:
					</td>
					<td class = 'ul' ></td>
				</tr>
								<tr>
					<td>
						Security #:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr>
					<td>
						Billing Zip:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr><td>&nbsp;</td> </tr>				
							
				<tr>
					<td>
						Subtotal:
					</td>
					<td class = 'ul nl' ><%= deci_plain @order.sub_ttl%></td>
				</tr> 

				<tr>
					<td>
						Tax:
					</td>
					<td class = 'ul nl' ><%= deci_plain @order.tax%></td>
				</tr>
				<tr>
					<td>
						Total:
					</td>
					<td class = 'ul nl' ><%= deci_plain @order.ttl_price%></td>
				</tr>				 
				<tr>
					<td>
						Tip:
					</td>
					<td class = 'ul' ></td>
				</tr>		
				<tr>
					<td>
						New Total:
					</td>
					<td class = 'ul' ></td>
				</tr>
				<tr><td>&nbsp;</td> </tr>	
				<tr>
					<td>
						Signature:
					</td>
					<td class = 'ul' ></td>
				</tr>
			</table>	
 
			</div>			
<div class = 'page_break'></div> 
 <div class = 'white_back'>
 
	 <div class = 'center'> 	
		<div id = 'lhead'> Citizen </div>
		<div id  = 'lhead_base'>909 E. Main St. 
			Richmond VA, 23219  <br>
			804-780-9038
			www.citizenrva.com
		</div>
 	</div>
		

		<%= render 'show'%>
	
 </div> 