<h1>Listing salads</h1>

<table>
  <tr>
    <th>Sal name</th>
    <th>Sal description</th>
    <th>Useable</th>
    <th>Useable type</th>
    <th>Sal price</th>
    <th>Sal count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salads.each do |salad| %>
  <tr>
    <td><%= salad.sal_name %></td>
    <td><%= salad.sal_description %></td>
    <td><%= salad.useable_id %></td>
    <td><%= salad.useable_type %></td>
    <td><%= salad.sal_price %></td>
    <td><%= salad.sal_count %></td>
    <td><%= link_to 'Show', salad %></td>
    <td><%= link_to 'Edit', edit_salad_path(salad) %></td>
    <td><%= link_to 'Destroy', salad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salad', new_salad_path %>
