
<div id = 'background_plain'>
 	<%= simple_nested_form_for @gallery, :html=>{:class => ' form-horizontal', :multipart => true } do |f| %>
		<%= f.simple_fields_for :photos do |photo_form|  %> 
   			<div class ='thumb'>
  				<%= image_tag(photo_form.object.image.url(:thumb)) if  photo_form.object.image? %>
  			</div>
  			<div class = 'form_fields'>
  				<%= photo_form.input :caption %>
  				<%= photo_form.input :image, :as => :file %>
  				<%= photo_form.input :remote_image_url, :label => 'Or,  Remote image url'%>
  			</div>	
  				<%= photo_form.link_to_remove "Remove", :class => 'btn btn-mini' %> 
<hr><br>
  		<% end %>
<br>
		<%= f.link_to_add "Add A Photo", :photos, :class => 'btn btn-mini' %><br><br>
		<%= f.button :submit %>
	<% end %>
</div>
